* {
    font-family: 'Montserrat', sans-serif;
}

.bg-color-main {
    background-color: #eae2b7;
} 

.main {
    padding: 5% 15% 5% 15%;
    color: #264653;
    text-rendering: optimizeLegibility;
    text-align:center;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

header {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

form {
    text-align: center;
}

spacer {
    margin-top: 2rem;
}

h1 {
    color: #27876a;
}

a {
    color: #5cab7d;
}

.nav-color {
    background-color: #7cb6df;
}

.foots-img {
    padding: 8px 15px 5px 15px;
    height: 70px;
}