{{block "test-quest" .}}
{{if .Ask}}
<h1>🩺 Daily Screening</h1>
<hr>
<h6>Welcome! Thanks for remembering to check in.</h6>
<form method="POST">    
    <p>
    <h5>Name</h5>
    </p>
    <p><input type="text" name="nm" /></p>

    <p>
    <h5>How are you feeling today? (between 1 and 5)</h5>
    <p>1 being terrible, 5 being amazing</p>
    </p>
    <div class="row">
    <input type="range" name="feeling" min="1" max="5" oninput="this.nextElementSibling.value = this.value">
    <output></output>
    </div>

    <p>
    <h5>What is your temperature today?</h5>
    </p>
    <p><input type="text" name="temp" min="95.0" max="130.0"></p>

    {{range .Questions}}
        <h5>{{.QuestionText}}</h5>
        <input class="form-check-input" type="radio" name="{{.NameElement}}" value="Yes">
        <label class="form-check-label">Yes</label>
        <input class="form-check-input" type="radio" name="{{.NameElement}}" value="No">
        <label class="form-check-label">No</label>
    {{end}}

    <p class="spacer"><input type="submit" value="Submit"/></p>
</form>
{{else}}
    {{template "results" .Code}}
{{end}}
{{end}}