{{block "test-quest" .}}
<h1>🩺 Daily Screening</h1>
<hr>
<h6>Welcome! Thanks for remembering to check in.</h6>
<form method="POST">
    <p>
    <h2>Name:</h2>
    </p>
    <p><input type="text" name="nm" /></p>

    <p>
    <h2>How are you feeling today? (between 1 and 5):</h2>
    </p>
    <p><input type="number" name="feeling" min="1" max="5"></p>

    <p>
    <h2>What is your temperature today?:</h2>
    </p>
    <p><input type="text" name="temp" min="95.0" max="130.0"></p>

    <p>
    <h2>Are you feeling sick?:</h2>
    </p>
    <p><input type="radio" name="sick" value="Yes">
        <label for="yes">Yes</label><br>
        <input type="radio" name="sick" value="No">
        <label for="no">No</label><br>
    </p>

    <p>
    <h2>Do you have muscle soreness or respiratory trouble that you can’t attribute to another medical condition?:</h2>
    </p>
    <p><input type="radio" name="sore" value="Yes">
        <label for="yes">Yes</label><br>
        <input type="radio" name="sore" value="No">
        <label for="no">No</label><br>
    </p>

    <p>
    <h2>Have you recently had close contact (within 6 feet of an infected person for at least 15 minutes) with someone
        with symptoms of COVID-19, tested for COVID-19, or diagnosed with COVID-19?:</h2>
    </p>
    <p><input type="radio" name="contact" value="Yes">
        <label for="yes">Yes</label><br>
        <input type="radio" name="contact" value="No">
        <label for="no">No</label><br>
    </p>

    <p>
    <h2>Have you recently been in a nursing home, healthcare facility, or homeless shelter?:</h2>
    </p>
    <p><input type="radio" name="location" value="Yes">
        <label for="yes">Yes</label><br>
        <input type="radio" name="location" value="No">
        <label for="no">No</label><br>
    </p>

    <p><input type="submit" value="Submit" /></p>
</form>
{{end}}