{{block "test-quest" .}}
<h1>🩺 Daily Screening</h1>
<hr>
<h6>Welcome! Thanks for remembering to check in.</h6>
<form method="POST">    
    <p>
    <h4>Name:</h4>
    </p>
    <p><input type="text" name="nm" /></p>

    <p>
    <h4>How are you feeling today? (between 1 and 5):</h4>
    </p>
    <input type="range" name="feeling" value="1" min="1" max="5" oninput="this.nextElementSibling.value = this.value">
    <output>1</output>

    <p>
    <h4>What is your temperature today?:</h4>
    </p>
    <p><input type="text" name="temp" min="95.0" max="130.0"></p>

    {{range .}}
        {{if eq .Type "radio"}}
        <h4>{{.Question}}</h4>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{.Name}}">
            <label class="form-check-label">Yes</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{.Name}}">
            <label class="form-check-label">No</label>
        </div>
        {{end}}
    {{end}}

    <p class="spacer"><input type="submit" value="Submit" /></p>
</form>
{{end}}