/* Small computers  */ 
@media only screen and (max-width: 1200px) {
    .text-box {
        width: 100%;
        padding: 0 2%;
        background: black;
    }

    .row { padding: 0 2%; }

}




/* Big tablets  */ 
@media only screen and (max-width: 1023px) {

}


/*  Ipad and Iphone, {phones and small tablets}   */ 
@media only screen and (max-width: 767px) {

}




/* Extremely Small Phones          */ 
@media only screen and (max-width: 480px) {

}